/* ITW - 2021/2022
Grupo 46    PL21
53687 - Ariana Dias
56931 - Diogo Forte
58628 - Miguel Miguel */

input[type='color'] {
    padding: 0;
    width: 150%;
    height: 150%;
    margin: -25%;
  }
  
  .cp_wrapper {
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0px grey;
  }