/* ITW - 2021/2022
Grupo 46    PL21
53687 - Ariana Dias
56931 - Diogo Forte
58628 - Miguel Miguel */

:root {
    /* Main Color Pallete https://colorhunt.co/palette/222831393e4600adb5eeeeee*/
    --background: #222831;
    --secondaryBackground: #393E46;
    --primaryColor: #00ADB5;
    --contrastColor: #EEEEEE;
    color: var(--contrastColor);
   
    }