body {
    font-family: "Courier New", monospace;
}

h3 {
    font-family: DejaVu Sans Mono, monospace;
    font-size: 200%;
}

button {
    font-family:Avantgarde, sans-serif;
}
.container .quote{
    font-family: "Maiandra GD", fantasy;
}

h1 {
    font-family: Andale Mono, monospace;
    font-size: 510%;
}
th {
    font-family: 'lato', sans-serif;
}

h2{
    font-family: Helvetica, monospace;
}