body{
    color:red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}


.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--primaryColor);
    border-radius: 5px;
    margin: 230px;
}

.grid-item {
    padding: 20px;
    background-color: var(--secondaryBackground);
    border-style: solid;
    border-color: var(--primaryColor);
    border-radius: 5px;
}

