/*Constants*/
@import "constants.css";

.InfoPage {
  margin: 1em;
  text-align: center;
}
.InfoPage p{
  
  padding: 0.4em;
  
}

 button {
    background-color: var(--primaryColor);
    border: none;
    color: var(--contrastColor);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 8px;
 
}
.test {

 cursor:url(https://i.imgur.com/psJxi2y.png), auto;
}
body {
    background-color: var(--background
    );
    overflow-x:hidden; 
    background-image:url(assets/images/background.png);
background-size: 75% ;
background-attachment: scroll;
background-repeat: true;
mask-repeat: false;
}

.nav .login-container {
    float: right;
    justify-content: right;
  }
* /* Isto cola a NavBar aos cantos */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
  
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
/* NAVBAR STYLING */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--primaryColor);
    color: #fff;
   }
   .login-container {
    float: right;
  }
   .nav-links a {
    color: #fff;
   }
   
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: var(--secondaryBackground);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: var(--secondaryBackground);
   }
   .services:hover .dropdown {
    display: block;
   }
/*Fazer a NavBar responsiva*/
/* Para expandir os items */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU (PARA TELÉMÓVEIS)*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* EXPANDIR MENU */
   @media (max-width: 769px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:var(--primaryColor);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   }
/* FIM DO NAVBAR STYLING */

/* RANGE , VALUE E LABEL*/

.label{  
    font-size: 2em;
    font-weight: bold;
    position:relative;
    display:block;
    text-align: center;
}

.value {
  text-align: center;
  font-weight: bold;
  font-size: 7em; 
  height: 80px;
  line-height: 60px;
  margin: 40px auto;
  letter-spacing: -.07em;
  text-shadow: white 2px 2px 2px;
}

input[type="range"] {
  position: relative;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--primaryColor);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}​
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
  }

.SpaceAround {
    display: flex;
  }
  .SpaceAround > div {
    flex: 1; /*grow*/
  }

.RangeAndLabel {
    position:relative;
    display:block;
}
.RangeSlider {
    position:relative;
    display:flex;
}
/*
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}*/


.quote {
    border: 1px solid black;
    display: inline-block;
    padding: 20px;
    background-color: var(--secondaryBackground);
    /* This set radius to all 4 corners */
    border-radius: 10px;
    text-align: center;

}