/*Constants*/
@import "constants.css";

/* Para centrar toda a info na pagina */
.container {
    margin: 0 auto;
    text-align: center;
}

body {
    background-color: var(--background);
    overflow-x:hidden;
    background-image:url("../assets/images/background.png");
    background-size: 75% ;
    background-attachment: scroll;
    background-repeat: true;
    mask-repeat: false;
}

button {
    background-color: var(--primaryColor);
    border: none;
    color: var(--contrastColor);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
}
.test {
    cursor:url(https://i.imgur.com/psJxi2y.png), auto;
}
.container > div:not(.button, .quote){
    margin: auto;
    width: 70%;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(57, 62, 70, 0.70);
}

/* Quote Pagina Inicial*/
.container .quote  {
    margin: auto;
    width: 70%;
    padding: 20px;
    background-color: var(--secondaryBackground);
    border-radius: 25px;
    text-align: center;
}

a {
    color: var(--primaryColor);
}

table {
    border: 5px var(--primaryColor) solid;
    margin: auto;
    display: inline-block;
    width: 100%;
    border-radius: 25px;
    text-align: center;
    table-layout: fixed;
}
thead {
    border: 3px var(--primaryColor) solid;
    margin: auto;

}

