/* ITW - 2021/2022
Grupo 46    PL21
53687 - Ariana Dias
56931 - Diogo Forte
58628 - Miguel Miguel */

@import "constants.css";

.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(9, 1fr);
    background-color: var(--primaryColor);
    border-radius: 5px;
    margin: auto;
}

.grid-item {
    padding: 1em;
    background-color: var(--secondaryBackground);
    border-style: solid;
    width: 3em;
    height: 3em;
    border-color: var(--primaryColor);
    border-radius: 0.5em;
    text-align: center;
    transition: opacity 750ms; /* Para o efeito de fade-in */
  
}

.grid-item:hover{
    background-color: var(--primaryColor);
    color: black;
    
}

.tabuleiro{
    float: right;
    width: 80%;
}

.gameInfo{
    float: left;
    width: 20%;
}

.painelJogo{
    margin: auto;
    width: 70%;
    overflow: hidden;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(57, 62, 70, 0.70);
}

.defaulInfo{
    display: inline;
    text-align: center;
}

.jogadores{
    bottom: 0;
    display: inline;
    text-align: center;
}

@media only screen and (max-width: 920px){
    .painelJogo{
        display: none;
    }
}